server:
  port: 8080
  shutdown: graceful
  #servlet:
  #  context-path: /auth
spring:
  lifecycle:
    timeout-per-shutdown-phase: 20s

iam-service:
  #base-url-mapping:
  #  base-url: http://localhost:8080
  #  mapped-url: https://mydomain.com
  #Auth. Code duration interval
  authorization-code-cache:
    duration: 10
    timeunit: MINUTES
  #Caches cleanup interval
  cache-cleanup-interval:
    duration: 1
    timeunit: MINUTES
  #Cache Backing
  cache-type:
    type: in-memory
    #type: redis
    #host: localhost
    #port: 6379
  #Default application model parameters
  data-model:
    default-admin-password: secret
    default-admin-client-secret: top-secret
    default-admin-email: admin@email.com
    enable-client-credentials-flow: true

    #options: in-memory | file-system | mongo-db
    persistence: in-memory

    #only for file-system persistence
    #persistence: file-system
    #path: /path/to/model-storage.json

    #only for mongo-db persistence
    #persistence: mongo-db
    #mongo-host: localhost
    #mongo-port: 27017
    #mongo-database: iam-service-db
    #mongo-username: iam-admin
    #mongo-password: secret

logging:
  level:
    root: INFO
    one:
      microproject:
        iamservice: DEBUG
